language: php

sudo: false

matrix:
  fast_finish: true
  include:
    - php: '7.1'
      env: TYPO3_VERSION=^8
    - php: '7.2'
      env: TYPO3_VERSION=^9 COVERAGE=1
    - php: '7.3'
      env: TYPO3_VERSION=^9
  allow_failures:
    - php: '7.3'


cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.sonar/cache

before_script:
  - composer require typo3/minimal=$TYPO3_VERSION
  - git checkout composer.json
  - export TYPO3_PATH_WEB=$PWD/.Build/Web

script:
- >
  if [[ "$COVERAGE" != "1" ]]; then
    echo;
    echo "Running unit tests";
    .Build/bin/phpunit --colors -c .Build/vendor/nimut/testing-framework/res/Configuration/UnitTests.xml Tests/Unit/
  fi

- >
  if [[ "$COVERAGE" == "1" ]]; then
    echo;
    echo "Running unit tests";
    .Build/bin/phpunit --colors -c Tests/Build/UnitTests.xml Tests/Unit/ \
    --coverage-clover .Build/log/coverage/clover.xml \
    --log-junit .Build/log/junit.xml
    rm -rf .Build/vendor/ .Build/Web/ .Build/bin/
  fi
