# Configuration/Services.yaml
services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  DWenzel\T3extensionTools\:
    resource: '../Classes/*'

  DWenzel\T3extensionTools\Command\ExampleCommand:
    tags:
      - name: 'console.command'
        command: 't3extension-tools:example'
        description: 'Download file to location'
        schedulable: false

  DWenzel\T3extensionTools\Command\DeleteLogs:
    tags:
      - name: 'console.command'
        command: 't3extension-tools:delete-logs'
        schedulable: true
